%div.line-separator
.tabcontrol2.menu-tab{"data-role" => "tabcontrol",style: "background-color: #232f3e;"}
  %ul.tabs.tabs-bottom.tab-menu-list{style: "margin-left: 3%;"}
    %li
      %a{:href => "#frame_1_electronics"} Electronics
    %li
      %a{:href => "#frame_1_musicgadgets"} Motors,Music&More
    %li
      %a{:href => "#frame_1_mens"} Mens Fashion
    %li
      %a{:href => "#frame_1_womens"} Womens Fashion
    %li
      %a{:href => "#frame_1_home"} Home&Living
    %li
      %a{:href => "#frame_1_health"} Health&Beaty
    %li
      %a{:href => "#frame_1_sports"} Sports&Travels
    %li
      %a{:href => "#frame_1_babytoys"} Babys&Toys
    %li
      %a{:href => "#frame_1_higlights"} Highlights
    %li
      %a{:href => "#frame_1_brand"} Shop Brands
 
  .frames.bg-grayLight
    #frame_1_electronics.frame 
      = render "tab-menus/electronics-tab-menu"
    #frame_1_musicgadgets.frame 
      = render "tab-menus/music_motor_more"
    #frame_1_mens.frame 
      = render "tab-menus/mens_fashion"

    #frame_1_womens.frame 
      = render "tab-menus/womens_fashion"
    #frame_1_home.frame
      = render "tab-menus/home_living"

    #frame_1_health.frame 
      = render "tab-menus/health_beauty"
    #frame_1_sports.frame 
      = render "tab-menus/sport_travel"
    #frame_1_babytoys.frame 
      = render "tab-menus/baby_toys"
    #frame_1_higlights.frame 
      = render "tab-menus/highlights"
    #frame_1_brand.frame 
      = render "tab-menus/brands"


